.hero {
    width: 100%;
    color: #000;
  }
  .title {
    margin: 0;
    width: 100%;
    padding-top: 80px;
    line-height: 1.15;
    font-size: 20px;
  }
  .title,
  .description {
    text-align: center;
  }